html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $bg;
    color: $default;
    @extend %firasans-400;
    font-size: 18px;
    line-height: 28px;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    color: $default;
}