html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $bg;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1111px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    color: $default;
}

.title {
    @extend %firasans-600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
}

p{
    color: $default;
    @extend %firasans-400;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}