$bg: #e5e5e5;
$default: #222222;
$button: #3726f2;

%firasans-400 {
    font-family: 'FiraSans-Regular', sans-serif;
    font-weight: 400;
}

%firasans-500 {
    font-family: 'FiraSans-Medium', sans-serif;
    font-weight: 500;
}

%firasans-600 {
    font-family: 'FiraSans-SemiBold', sans-serif;
    font-weight: 600;
}

%firasans-700 {
    font-family: 'FiraSans-Bold', sans-serif;
    font-weight: 700;
}

