@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 65px 0 60px;


    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__search-img:hover {
        path {
            fill: $button;
        }
    }
}

.menu {
    &__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: relative;
    }

    &__list {
        position: absolute;
        top: 110px;
        right: 0;
        @extend %firasans-400;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 10px;
        width: 100%;
        justify-content: center;
        background-color: transparent;
        display: none;

        &.menu__list--active {
            display: flex;
        }
    }

    &__list-item+.menu__list-item {
        margin-left: 30px;
    }

    &__list-link {
        transition: all .3s;
    }

    &__list-link:hover {
        color: $button;
    }

    &__icon:hover {
        rect {
            fill: $button;
        }
    }
}

.footer {
    padding: 109px 10px;
    background-color: #515151;

    &__logo-img {
        margin: 0 auto;
    }
}

.start {
    padding: 127px 0 375px;
    background-image: url(../images/decor/start-decor.jpg);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 44%;

    &__inner {
        max-width: 474px;
        position: relative;
    }

    &__video {
        position: absolute;
        background-image: url(../images/start-video/bg-video.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 400px;
        height: 310px;
        top: 285px;
        right: -380px;
        filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.44));
    }

    &__btn {
        position: absolute;
        background-image: url(../images/start-video/play-btn.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 65px;
        height: 65px;
        top: 125px;
        right: 167px;
    }

    &__title {
        @extend %firasans-700;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: -1px;
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 56px;
        opacity: 0.7;
    }

    &__link {
        padding: 17px 30px;
        color: #fff;
        background-color: $button;
        @extend %firasans-500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }
}

.quote-section {
    padding: 127px 0 142px;

    &__inner {
        background-image: url(../images/decor/quote-section-decor.jpg);
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    &__box {
        max-width: 540px;
        margin-left: auto;
        padding: 37px 0 92px;

    }

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        max-width: 445px;
        margin-bottom: 20px;
    }

    &__profile {
        margin-top: 61px;
        display: flex;
        align-items: center;
    }

    &__profile-avatar {
        margin-right: 31px;
    }

    &__profile-name {
        @extend %firasans-500;
        font-size: 22px;
        line-height: 32px;
    }

}

.services {
    padding-bottom: 100px;
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 99px;
    }

    &__title {
        max-width: 539px;
    }

    &__lists {
        display: flex;
        justify-content: space-between;
        max-width: 409px;
        width: 100%;
    }

    &__list {
        &-item {
            @extend %firasans-400;
            font-size: 18px;
            line-height: 28px;
            opacity: 0.5;
            margin-bottom: 21px;

        }
    }

    &__slider {
        &-item {
            position: relative;
            max-width: 825px;
        }

        &-link {
            position: absolute;
            background-image: url(../images/services-filter/play-btn.svg);
            background-position: center;
            background-repeat: no-repeat;
            width: 65px;
            height: 65px;
            top: 217px;
            right: 380px;
        }
    }

    .prev,
    .next {
        position: absolute;
        cursor: pointer;
        bottom: -100px;
    }

    .prev{
        left: 0;
    }

    .next{
        left: 75px;
    }


    .slick-slide {
        opacity: 0.2;
        &.slick-active {
            opacity: 1;
            }
        }
    
        .slick-list{
            padding:0 21% 0 0;
        }
}






@import 'media';