@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
    padding: 65px 0 60px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__search-img:hover {
        path {
            fill: $button;
        }
    }
}

.menu {
    &__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: relative;
    }

    &__list {
        position: absolute;
        top: 110px;
        right: 0;
        @extend %firasans-400;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 10px;
        width: 100%;
        justify-content: center;
        background-color: transparent;
        display: none;

        &.menu__list--active {
            display: flex;
        }
    }

    &__list-item+.menu__list-item {
        margin-left: 30px;
    }

    &__list-link {
        transition: all .3s;
    }

    &__list-link:hover {
        color: $button;
    }

    &__icon:hover {
        rect {
            fill: $button;
        }
    }
}

.footer {
    padding: 109px 10px;
    background-color: #515151;

    &__logo-img {
        margin: 0 auto;
    }
}

.start {
    padding: 127px 0 375px;
    background-image: url(../images/decor/start-decor.jpg);
    background-repeat: no-repeat;
    background-position: 96% 50%;
    background-size: 48%;
    &__inner {
        max-width: 474px;
    }

    &__title {
        @extend %firasans-700;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: -1px;
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 56px;
        opacity: 0.7;
    }

    &__link {
        padding: 17px 30px;
        color: #fff;
        background-color: $button;
        @extend %firasans-500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }
}




@import 'media';